<!-- views/partials/footer.ejs -->
<p>Open source weather API, Provided by www.HackYourForecast.com, powered by contributors
    <a href='https://github.com/HackYourForecast/hackyourforecast/graphs/contributors' target='_blank'>
        <i class="fab fa-github-alt"></i>
    </a>
</p>

<p>© Hack Your Forecast, 2018</p>