<!-- ./partials/navigation.ejs-->
<span class="navbar-toggle" id="js-navbar-toggle">
    <i class="fa fa-bars" 'fa-2x'></i>
</span>
<a href="/" class="logo">

    <img id='bigLogo' src='../public/css/photos-videos/logo.jpg' alt='logo' />

    <img id='smallLogo' src='../public/css/photos-videos/logo.png' alt='logo' />
</a>
<ul class="main-nav" id="js-menu">
    <li>
        <a href="/" class="nav-links">Home</a>
    </li>
    <li>
        <a href="/weather" class="nav-links">Weather</a>
    </li>
    <li>
        <a href="/api" class="nav-links">API</a>
    </li>
    <li>
        <a href="/map" class="nav-links">Map</a>
    </li>
    <li>
        <a href="/npm" class="nav-links">NPM </a>
    </li>
    <li>
        <a href="/contributors" class="nav-links">Contributors</a>
    </li>


</ul>