<!DOCTYPE html>
<html lang="en">

<head>

    <% include  ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../public/css/api.css">

</head>



<body>
    <header>
        <nav class="navbar">
            <% include  ./partials/navigation.ejs %>
        </nav>
    </header>

    <div class='bg'> </div>
    <section class='api-paragraph'>
        <h2>Why would a weather API benefit you?</h2>
        <p> Our weather API provides a simple way for developers and programmers to embed weather data into their apps and websites.
            They are free for personal as well as commercial use depending on how you wish to use weather API. It could be
            for a blog, website or smartphone application. Regardless of your requirements, programmers and developers all
            over the world are benefitting from our weather API software.
        </p>
    </section>
    <div class='bg'> </div>

    <footer>
        <% include  ./partials/footer.ejs %>
    </footer>
    <script src='./script/toogleManu.js' type='text/javascript'></script>
</body>

</html>