<!DOCTYPE html>
<html lang="en">

<head>
    <% include  ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../public/css/contrib.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <% include  ./partials/navigation.ejs %>
        </nav>
    </header>

    <div class='bg'> </div>
    <section class='api-paragraph'>
        <h2>Contributors</h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
        </p>
    </section>
    <div class='bg'> </div>
    <footer>
        <% include  ./partials/footer.ejs %>
    </footer>

    <script src='./script/toogleManu.js' type='text/javascript'></script>


</body>

</html>