* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar a,
i {
  color: white;
}

section a {
  text-decoration: underline;
}
section li {
  margin: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  position: relative;
  top: -250px;

  font-size: 50px;
}

.bg {
  background-image: url("photos-videos/github.jpg");
  min-height: 500px;

  background-size: cover;
}

.json {
  color: rgb(105, 104, 104);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

section {
  height: auto;
  width: 80%;
  border: 1px solid rgba(168, 203, 214, 0.356);
  padding: 30px;
  margin-left: 8%;
  background-color: white;
}

ol {
  padding: 5px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
}

section p {
  text-align: center;
  font-weight: bold;
}

h3 {
  border: 1px solid rgba(168, 203, 214, 0.356);
  background-color: rgba(102, 102, 102, 0.356);
  width: 40%;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 501px) {
  .navbar.scrolled a {
    color: black;
  }
}
