* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  display: inline-block;
  width: 30%;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  text-shadow: 0px 1px 2px rgb(73, 72, 72);
}

/*mobile */
@media screen and (max-width: 767px) {
  .navbar {
    font-size: 18px;
    background-color: rgba(3, 3, 3, 0.582);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 30;
  }

  .main-nav {
    display: none;
  }

  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
  }

  .active {
    display: block;
  }
  .logo #bigLogo {
    display: none;
  }
  .logo #smallLogo {
    width: 70px;
  }
}

/* bigger screen */
@media screen and (min-width: 768px) {
  .logo #bigLogo {
    width: 20%;
    margin-top: 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 20;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links {
    margin-left: 40px;
    display: inline-block;
    border-left: 1px transparent;
    border-right: 1px transparent;
    padding: 10px;
    transition: all 0.3s ease-out;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    transform: translate(3px, 3px);
  }
  .logo #smallLogo {
    display: none;
  }
}
