* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(14, 13, 13);
}
.navbar a,
.navbar i {
  color: white;
}

/* #clicked {
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  padding: 10px;
} */

.bg {
  background-image: url("photos-videos/lightning.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
}

.api-paragraph {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.api-paragraph p {
  width: 50%;
  margin-top: 20px;
  text-align: left;
}

@media (min-width: 501px) {
  .navbar.scrolled a {
    color: black;
  }
}
