* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url("./photos-videos/weatherBg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.forecast-container {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
}
p {
  text-transform: uppercase;
  margin: 6px;
}

button {
  padding: 15px;
  text-transform: uppercase;
  background-color: rgb(133, 133, 172);
  border-color: rgb(133, 133, 172);
}

input {
  padding: 15px;
}

#city {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

#temp,
#desc {
  color: white;
}
/*big screen*/
@media screen and (min-width: 767px) {
  nav a {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgb(73, 72, 72);
  }

  #clicked {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 10px;
  }
}

/* small screen */
@media screen and (max-width: 767px) {
  nav a,
  i {
    color: white;
  }
  #clicked {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 10px;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 1px solid rgb(41, 41, 41);
}
footer i {
  color: rgb(212, 209, 209);
}
