.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
    width: 90%;
    margin: auto;
}

header {
    height: 60px;
    background-color: rgb(63,81,181);
    padding:10px;
    border-radius: 10px
}

header h3{
  display: inline;
  color: white;  
  /* font-size: 125%; */
}

.select{    
  width: 200px;
  margin: auto;
}

