<!DOCTYPE html>
<html lang="en">

<head>

    <% include  ./partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../public/css/weather.css">

</head>



<body>
    <header>
        <nav class="navbar">
            <% include  ./partials/navigation.ejs %>
        </nav>
    </header>

    <div class='forecast-container'>
        <form action="/weather" method="post">
            <!-- <input name="city" type="text" placeholder="Enter a City" required autocomplete="off"> -->
            <input name="longitude" type="text" placeholder="Enter a longitude" required autocomplete="on">
            <input name="latitude" type="text" placeholder="Enter a latitude" required autocomplete="on">
            <input name="timestamp" type="text" placeholder="Enter a timestamp" required autocomplete="on">
            <button>Get JSON </button>
        </form>


    </div>
    <footer>
        <% include  ./partials/footer.ejs %>

    </footer>
    <script src='./script/toogleManu.js' type='text/javascript'></script>

</body>

</html>